h1 {
    color: white;
    margin-left: 620px;
    padding: 10px;
}

/* * {
    border: solid;
} */

.header *{
    border: solid wheat;
}

.header{
    background-color: rgb(196, 144, 47);
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}
body{
    background-color: rgb(33, 90, 100);
    
    color: honeydew;
    font-family: cursive;
}

a:link{
    color: rgb(33, 218, 171);
}
a:hover{
    color:lightgreen
}
a:visited{
    color:rgb(167, 219, 25)
}
.menu{
    margin-right: 30px;
}
.menu a{
    margin-left: 20px;
    margin-top:20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.item{
    position: relative;
}
.item p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.item:hover p{
    opacity: 1;
}
.item:hover img{
    opacity:0.4
}